streamlit
python-dotenv
langchain
git+https://github.com/hwchase17/langchain-google-generative-ai.git
pinecone
huggingface-hub
transformers
sentence-transformers
langchain-pinecone
langchain-community

pypdf
